
{{#if flash}}
  <div class="alert alert-dismissible" alert-{{flash.type}} >
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
      &time;
    </button>
    <strong>{{ flash.intro }}</strong>
    <p>
      {{{ flash.message }}}
    </p>
  </div>
{{/if}}

<div class="container mt-5">
  <div class="row">
    <div class="col-6">
      <form method="POST" action="http://127.0.0.1:1024/newsletter" id="form">
        <div class="form-group">
          <label for="userName" class="form-label">User Name</label>
          <input type="text" class="form-control" id="userName" value="Ice King" name="userName" placeholder="Can you please insert your name"/>
        </div>
        <div class="form-group mt-2">
          <label for="userEmail" class="form-label">Email</label>
          <input type="text" class="form-control" id="userEmail" value="ice_love_princesses@adventuretime.com" name="userEmail" placeholder="Can you please insert an email"/>
        </div>
        <div class="form-group mt-3">
          <button type="submit" class="btn btn-primary">Send</button>
        </div>
        <p id="mess"></p>
      </form>
    </div>
  </div>
</div>
{{!-- <script>
  const form  = document.querySelector( '#form' ),
        p     = document.querySelector( '#mess' )

  form.addEventListener( 'submit', e => {
    e.preventDefault()
    const body = {}
    new FormData( form ).forEach( ( value, key ) => body[ key ] = value )
    fetch( '/newsletter', {
      method: 'POST',
      body: JSON.stringify( body ),
      headers: {
        'Content-Type': 'application/json'
      }
    })
    .then( raw => {
      if( raw.status < 200 || raw.status >= 300 ){
        p.innerHTML = 'There is a problem'
      }
        return raw.json()
    })
    .then( data => {
      p.innerHTML = 'Cool! you are in our side!'
      console.log( data )
    })
    .catch( err => {
      p.innerHTML = 'There was an error with your email'
      console.error( new Error( err ))
    })  
  })
</script> --}}