
<form method="post" action="http://127.0.0.1:3000/form_data_robust">
  <label for="name">
    <input type="text" name="name" id="name" placeholder="name" value="Rodrigo">
  </label>
  <label for="email">
    <input type="email" name="email" id="email" placeholder="Email" value="express@express.org">
  </label>
  <button type="submit">Send</button>
</form>

<script>
  let form  = document.querySelector( 'form' )
      btn   = form.querySelector( 'button' )
</script>