<h2>Forms</h2>

<form action="" method="post" id="formD">
  <label for="nameUser">
    <input type="text" placeholder="name" name="nameUser" value="Rodrigo">
  </label>
  <label for="emailUser">
    <input type="email" placeholder="Email" name="emailUser" value="r@js.com">
  </label>
  <button>Send</button>
</form>
<h2>Other</h2>
<form action="http://127.0.0.1:1024/normalform" method="post" >
  <label for="nameUser">
    <input type="text" placeholder="name" name="nameUser" value="Rodrigo">
  </label>
  <label for="emailUser">
    <input type="email" placeholder="Email" name="emailUser" value="r@js.com">
  </label>
  <button>Send</button>
</form>
<h3>Put</h3>
<form action="http://127.0.0.1:1024/api/user/id" method="put" id="test_put">
  <input type="text" placeholder="name" value="Rodrigo Ivan" name="userName" />
  <input type="text" placeholder="age" value="28" name="age" />
  <button type="submit" >Send></button>
</form>
<script>
  let form  = document.querySelector( '#formD' ),
      flag  = false,
      form3  = document.querySelector( '#test_put')

  if( flag ){
    form.addEventListener( 'submit', async e => {
      e.preventDefault()
      const data = await fetch( 'http://127.0.0.1:1024/tours/all', {
        method: 'GET'
      })
      .then( raw => raw.json() )
      .catch( err => {
        throw new Error( err );
        console.log( 'Error', err )
      })
      console.log( data )
    })
  }

  form.addEventListener( 'submit', async e => {
      e.preventDefault()
      console.log( e, new FormData( formD ) )
      const data = await fetch( 'http://127.0.0.1:1024/tours/post/', {
        method: 'POST',
        headers: {
          'Content-type': 'application/json',
          body: JSON.stringify( { nameUser: 'Rod', search: ':d' } )
        },
      })
      .then( raw => raw.json() )
      .catch( err => {
        console.log( 'Error', err )
        throw new Error( err );
      })
      console.log( data )
    })
  
  form3.addEventListener( 'submit', e => {
    e.preventDefault()
    const data = new FormData( form3 )
    console.log( data )
    fetch( 'http://127.0.0.1:1024/api/user/1', {
      method: 'PUT',
      body: data
    })
    .then( raw => raw.json() )
    .catch( err => {
      console.log( err )
      throw new Error( err )
    })
    .finally( e => console.log( 'end' ) )
  })

</script>